<% content_for :head do %>
  <%= stylesheet_link_tag "lyrics-bundle", :media => "all" %>
  <script type="text/javascript">
  $(function(){
    window.controller = "<%= controller_name %>";
    window.qdx = "<%= @lyric.try(:progress) %>" ;
    if(window.qdx){
      $("#question_" + window.qdx ).prevAll().remove()
      $("#question_" + window.qdx ).show()
    }else{
      $("#question_1").show()
    }    
  })
  </script>
<% end %>


<div class="container-fluid">
<!-- question page start -->
<div class="question text-center" id="question_1">
  <div class="row">
    <div class="col-xs-12 head">
      <div class="img-container">
        <%=image_tag "lyrics/q1.jpg", :alt => "q1", :class => 'col-xs-12' %>
      </div>
      <div class='q-info'>
        <h4>不怪那吻痕还没积累成茧</h4>
        <h4>...（ ？）...</h4>
        <h4>不怪这一段情没空反复再排练</h4>
        <h4>是岁月宽容恩赐反悔的时间</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <hr />
  </div>
  <div class="row">
    <div class="col-xs-12 cbody">
      <div class="row">
        <div class="col-xs-12 lyrc radio " data-name="question_1" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>拥抱着懂你也没能羽化再成仙</h4></div>
        <div class="col-xs-12 lyrc radio " data-name="question_1" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>拥抱着冬眠也没能雨花再成仙</h4></div>
        <div class="col-xs-12 lyrc radio " data-name="question_1" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>拥抱着懂你也没用雨花再成仙</h4></div>
        <div class="col-xs-12 lyrc radio " data-name="question_1" data-value="10"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>拥抱着冬眠也没能羽化再成仙</h4></div>
      </div>
    </div>
  </div>
  <div class="row bottom">
    <div class="col-xs-12"><span class="remainder">01/15题</span> </div>  
  </div>
</div>

<div class="question text-center" id="question_2">
  <div class="row">
    <div class="col-xs-12 head">
      <div class="img-container">
        <%=image_tag "lyrics/q2.jpg", :alt => "q2", :class => 'col-xs-12' %>
      </div>
      <div class='q-info'>
        <h4>你是我的小呀小苹果儿</h4>
        <h4>怎么爱你都不嫌多</h4>
        <h4>...（ ？）...</h4>
        <h4>点亮我生命的火火火火火</h4>
        <h4>你是我的小呀小苹果儿</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <hr />
  </div>
  <div class="row">
    <div class="col-xs-12 cbody">
      <div class="row">
        <div class="col-xs-12 lyrc radio " data-name="question_2" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>红红的小脸儿温暖我心窝</h4></div>
        <div class="col-xs-12 lyrc radio " data-name="question_2" data-value="10"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>红红的小脸儿温暖我的心窝</h4></div>
        <div class="col-xs-12 lyrc radio " data-name="question_2" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>红红小脸儿温暖我心窝</h4></div>
        <div class="col-xs-12 lyrc radio " data-name="question_2" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>红红的小脸儿温暖我心窝</h4></div>
      </div>
    </div>
  </div>
  <div class="row bottom">
    <div class="col-xs-12"><span class="remainder">02/15题</span> </div>  
  </div>
</div>

<div class="question text-center" id="question_3">
  <div class="row">
    <div class="col-xs-12 head">
      <div class="img-container">
        <%=image_tag "lyrics/q3.jpg", :alt => "q3", :class => 'col-xs-12' %>
      </div>
      <div class='q-info'>
        <h4>喜欢你那双眼动人笑声更迷人</h4>
        <h4>...（ ？）...</h4>
        <h4>挽手说梦话 像昨天 你共我</h4>
        <h4>满带理想的我曾经多冲动</h4>
        <h4>抱怨与她相爱难有自由</h4>
        <h4>愿你此刻可会知</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <hr />
  </div>
  <div class="row">
    <div class="col-xs-12 cbody">
      <div class="row">
        <div class="col-xs-12 lyrc radio " data-name="question_3" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>愿再可倾覆你那可爱面容</h4></div>
        <div class="col-xs-12 lyrc radio " data-name="question_3" data-value="10"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>愿再可轻抚你那可爱面容</h4></div>
        <div class="col-xs-12 lyrc radio " data-name="question_3" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>愿再来轻抚你那可爱面容</h4></div>
        <div class="col-xs-12 lyrc radio " data-name="question_3" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>愿再可轻抚你那可爱面孔</h4></div>
      </div>
    </div>
  </div>
  <div class="row bottom">
    <div class="col-xs-12"><span class="remainder">03/15题</span> </div>  
  </div>
</div>

<div class="question text-center" id="question_4">
  <div class="row">
    <div class="col-xs-12 head">
      <div class="img-container">
        <%=image_tag "lyrics/q4.jpg", :alt => "q4", :class => 'col-xs-12' %>
      </div>
      <div class='q-info'>
        <h4>北方的村庄住着一个南方的姑娘</h4>
        <h4>她总是喜欢穿着带花的裙子站在路旁</h4>
        <h4>...（ ？）...</h4>
        <h4>她柔弱的眼神里装的是什么是思念的忧伤</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <hr />
  </div>
  <div class="row">
    <div class="col-xs-12 cbody">
      <div class="row">
        <div class="col-xs-12 lyrc radio " data-name="question_4" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>她的话多不多但笑起来是那么平静优雅</h4></div>
        <div class="col-xs-12 lyrc radio " data-name="question_4" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>她的话不多但笑起来是那样平静优雅</h4></div>
        <div class="col-xs-12 lyrc radio " data-name="question_4" data-value="10"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>她的话不多但笑起来是那么平静悠扬</h4></div>
        <div class="col-xs-12 lyrc radio " data-name="question_4" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>她的话不多但笑起来是那么的平静优雅</h4></div>
      </div>
    </div>
  </div>
  <div class="row bottom">
    <div class="col-xs-12"><span class="remainder">04/15题</span> </div>  
  </div>
</div>

<div class="question text-center" id="question_5">
  <div class="row">
    <div class="col-xs-12 head">
      <div class="img-container">
        <%=image_tag "lyrics/q5.jpg", :alt => "q5", :class => 'col-xs-12' %>
      </div>
      <div class='q-info'>
        <h4>斑马斑马你还记得我吗</h4>
        <h4>...（ ？）...</h4>
        <h4>斑马斑马你睡吧睡吧</h4>
        <h4>我会背上吉他离开北方</h4>
        <h4>斑马斑马你会记得我吗</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <hr />
  </div>
  <div class="row">
    <div class="col-xs-12 cbody">
      <div class="row">
        <div class="col-xs-12 lyrc radio " data-name="question_5" data-value="10"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>我是只会歌唱的傻瓜</h4></div>
        <div class="col-xs-12 lyrc radio " data-name="question_5" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>我是会歌唱的傻瓜</h4></div>
        <div class="col-xs-12 lyrc radio " data-name="question_5" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>我是会歌唱的大傻瓜</h4></div>
        <div class="col-xs-12 lyrc radio " data-name="question_5" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>我是只会歌唱的大傻瓜</h4></div>
      </div>
    </div>
  </div>
  <div class="row bottom">
    <div class="col-xs-12"><span class="remainder">05/15题</span> </div>  
  </div>
</div>

<div class="question text-center" id="question_6">
  <div class="row">
    <div class="col-xs-12 head">
      <div class="img-container">
        <%=image_tag "lyrics/q6.jpg", :alt => "q6", :class => 'col-xs-12' %>
      </div>
      <div class='q-info'>
        <h4>雨下整夜我的爱溢出就像雨水</h4>
        <h4>院子落叶跟我的思念厚厚一叠</h4>
        <h4>...（ ？）...</h4>
        <h4>妳出现在我诗的每一页</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <hr />
  </div>
  <div class="row">
    <div class="col-xs-12 cbody">
      <div class="row">
        <div class="col-xs-12 lyrc radio " data-name="question_6" data-value="10"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>几句是非也无法将我的热情冷却</h4></div>
        <div class="col-xs-12 lyrc radio " data-name="question_6" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>几句无非也无法将我的热情冷却</h4></div>
        <div class="col-xs-12 lyrc radio " data-name="question_6" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>几句是非也无法将你的热情冷却</h4></div>
        <div class="col-xs-12 lyrc radio " data-name="question_6" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>几句是非就无法将我的热情冷却</h4></div>
      </div>
    </div>
  </div>
  <div class="row bottom">
    <div class="col-xs-12"><span class="remainder">06/15题</span> </div>  
  </div>
</div>

<div class="question text-center" id="question_7">
  <div class="row">
    <div class="col-xs-12 head">
      <div class="img-container">
        <%=image_tag "lyrics/q7.png", :alt => "q7", :class => 'col-xs-12' %>
      </div>
      <div class='q-info'>
        <h4>我曾经跨过山和大海也穿过人山人海</h4>
        <h4>...（ ？）...</h4>
        <h4>我曾经失落失望失掉所有方向</h4>
        <h4>直到看见平凡才是唯一的答案</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <hr />
  </div>
  <div class="row">
    <div class="col-xs-12 cbody">
      <div class="row">
        <div class="col-xs-12 lyrc radio " data-name="question_7" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>我曾经拥有这一切转眼都过眼云烟</h4></div>
        <div class="col-xs-12 lyrc radio " data-name="question_7" data-value="10"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>我曾经拥有这一切转眼都飘散如烟</h4></div>
        <div class="col-xs-12 lyrc radio " data-name="question_7" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>我曾经拥有这一切转眼飘散如烟</h4></div>
        <div class="col-xs-12 lyrc radio " data-name="question_7" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>我曾经拥有一切转眼都飘散如烟</h4></div>
      </div>
    </div>
  </div>
  <div class="row bottom">
    <div class="col-xs-12"><span class="remainder">07/15题</span> </div>  
  </div>
</div>

<div class="question text-center" id="question_8">
  <div class="row">
    <div class="col-xs-12 head">
      <div class="img-container">
        <%=image_tag "lyrics/q8.jpg", :alt => "q8", :class => 'col-xs-12' %>
      </div>
      <div class='q-info'>
        <h4>我的世界又下起了细雨</h4>
        <h4>你也无需有太多的言语</h4>
        <h4>也会拥有不同的天地</h4>
        <h4>我可以慢慢地忘了你</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <hr />
  </div>
  <div class="row">
    <div class="col-xs-12 cbody">
      <div class="row">
        <div class="col-xs-12 lyrc radio " data-name="question_8" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>歌名是《冷雨夜》</h4></div>
        <div class="col-xs-12 lyrc radio " data-name="question_8" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>歌名是《七里香》</h4></div>
        <div class="col-xs-12 lyrc radio " data-name="question_8" data-value="10"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>歌名是《一吻之间》</h4></div>
        <div class="col-xs-12 lyrc radio " data-name="question_8" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>歌名是《全世界下雨》</h4></div>
      </div>
    </div>
  </div>
  <div class="row bottom">
    <div class="col-xs-12"><span class="remainder">08/15题</span> </div>  
  </div>
</div>

<div class="question text-center" id="question_9">
  <div class="row">
    <div class="col-xs-12 head">
      <div class="img-container">
        <%=image_tag "lyrics/q9.jpg", :alt => "q9", :class => 'col-xs-12' %>
      </div>
      <div class='q-info'>
        <h4>门前老树长新芽</h4>
        <h4>院里枯木又开花</h4>
        <h4>...（ ？）...</h4>
        <h4>藏进了满头白发</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <hr />
  </div>
  <div class="row">
    <div class="col-xs-12 cbody">
      <div class="row">
        <div class="col-xs-12 lyrc radio " data-name="question_9" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>半生存了许多话</h4></div>
        <div class="col-xs-12 lyrc radio " data-name="question_9" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>半生存了很多话</h4></div>
        <div class="col-xs-12 lyrc radio " data-name="question_9" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>半生存了太多话</h4></div>
        <div class="col-xs-12 lyrc radio " data-name="question_9" data-value="10"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>半生存了好多话</h4></div>
      </div>
    </div>
  </div>
  <div class="row bottom">
    <div class="col-xs-12"><span class="remainder">09/15题</span> </div>  
  </div>
</div>

<div class="question text-center" id="question_10">
  <div class="row">
    <div class="col-xs-12 head">
      <div class="img-container">
        <%=image_tag "lyrics/q10.jpg", :alt => "q10", :class => 'col-xs-12' %>
      </div>
      <div class='q-info'>
        <h4>当初的愿望实现了吗</h4>
        <h4>事到如今只好祭奠吗</h4>
        <h4>任岁月风干理想再也找不回真的我</h4>
        <h4>...（ ？）...</h4>
        <h4>那时候陪伴我的那颗</h4>
        <h4>这里的故事你是否还记得</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <hr />
  </div>
  <div class="row">
    <div class="col-xs-12 cbody">
      <div class="row">
        <div class="col-xs-12 lyrc radio " data-name="question_10" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>抬头仰望着满天银河</h4></div>
        <div class="col-xs-12 lyrc radio " data-name="question_10" data-value="10"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>抬头仰望着满天星河</h4></div>
        <div class="col-xs-12 lyrc radio " data-name="question_10" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>抬头仰望着漫天星河</h4></div>
        <div class="col-xs-12 lyrc radio " data-name="question_10" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>抬头仰望着漫天银河</h4></div>
      </div>
    </div>
  </div>
  <div class="row bottom">
    <div class="col-xs-12"><span class="remainder">10/15题</span> </div>  
  </div>
</div>

<div class="question text-center" id="question_11">
  <div class="row">
    <div class="col-xs-12 head">
      <div class="img-container">
        <%=image_tag "lyrics/q11.jpg", :alt => "q1", :class => 'col-xs-12' %>
      </div>
      <div class='q-info'>
        <h4>我说在我的想象中有一双滑板鞋</h4>
        <h4>...（ ？）...</h4>
        <h4>整个城市找遍所有的街都没有</h4>
        <h4>她说将来会找到的时间会给我答案</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <hr />
  </div>
  <div class="row">
    <div class="col-xs-12 cbody">
      <div class="row">
        <div class="col-xs-12 lyrc radio " data-name="question_11" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>与众不同很时尚跳舞肯定棒</h4></div>
        <div class="col-xs-12 lyrc radio " data-name="question_11" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>与众不同最漂亮跳舞肯定棒</h4></div>
        <div class="col-xs-12 lyrc radio " data-name="question_11" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>与众不同很时尚跳舞肯定棒</h4></div>
        <div class="col-xs-12 lyrc radio " data-name="question_11" data-value="10"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>与众不同最时尚跳舞肯定棒</h4></div>
      </div>
    </div>
  </div>
  <div class="row bottom">
    <div class="col-xs-12"><span class="remainder">11/15题</span> </div>  
  </div>
</div>

<div class="question text-center" id="question_12">
  <div class="row">
    <div class="col-xs-12 head">
      <div class="img-container">
        <%=image_tag "lyrics/q12.jpg", :alt => "q12", :class => 'col-xs-12' %>
      </div>
      <div class='q-info'>
        <h4>夜空中最亮的星</h4>
        <h4>请指引我走出去</h4>
        <h4>...（ ？）...</h4>
        <h4>那曾与我同心的身影如今在哪里</h4>
        <h4>夜空中最亮的星是否在意</h4>
        <h4>是太阳先升起还是意外先来临</h4>
        <h4>我宁愿所有痛苦都留在心里</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <hr />
  </div>
  <div class="row">
    <div class="col-xs-12 cbody">
      <div class="row">
        <div class="col-xs-12 lyrc radio " data-name="question_12" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>夜空中最亮的星你是否知道</h4></div>
        <div class="col-xs-12 lyrc radio " data-name="question_12" data-value="10"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>夜空中最亮的星是否知道</h4></div>
        <div class="col-xs-12 lyrc radio " data-name="question_12" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>夜空中最亮的星 是否知晓</h4></div>
        <div class="col-xs-12 lyrc radio " data-name="question_12" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>夜空中最亮的星 你是否知晓</h4></div>
      </div>
    </div>
  </div>
  <div class="row bottom">
    <div class="col-xs-12"><span class="remainder">12/15题</span> </div>  
  </div>
</div>

<div class="question text-center" id="question_13">
  <div class="row">
    <div class="col-xs-12 head">
      <div class="img-container">
        <%=image_tag "lyrics/q13.jpg", :alt => "q1", :class => 'col-xs-12' %>
      </div>
      <div class='q-info'>
        <h4>美丽的泡沫虽然一刹花火</h4>
        <h4>你所有承诺虽然都太脆弱</h4>
        <h4>爱本是泡沫如果能够看破</h4>
        <h4>...（ ？）...</h4>
        <h4>再美的花朵盛开就淍落</h4>
        <h4>再亮眼的星一闪过就坠落</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <hr />
  </div>
  <div class="row">
    <div class="col-xs-12 cbody">
      <div class="row">
        <div class="col-xs-12 lyrc radio " data-name="question_13" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>有什么好难过</h4></div>
        <div class="col-xs-12 lyrc radio " data-name="question_13" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>有什么可难过</h4></div>
        <div class="col-xs-12 lyrc radio " data-name="question_13" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>有什么难过</h4></div>
        <div class="col-xs-12 lyrc radio " data-name="question_13" data-value="10"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>有什么要难过</h4></div>
      </div>
    </div>
  </div>
  <div class="row bottom">
    <div class="col-xs-12"><span class="remainder">13/15题</span> </div>  
  </div>
</div>                      


<div class="question text-center" id="question_14">
  <div class="row">
    <div class="col-xs-12 head">
      <div class="img-container">
        <%=image_tag "lyrics/q14.jpg", :alt => "q14", :class => 'col-xs-12' %>
      </div>
      <div class='q-info'>
        <h4>做一个只对自己说谎的哑巴</h4>
        <h4>他说你任何为人称道的美丽</h4>
        <h4>不及他第一次遇见你</h4>
        <h4>...（ ？）...</h4>
        <h4>如果所有土地连在一起</h4>
        <h4>走上一生只为拥抱你</h4>
        <h4>喝醉了他的梦,晚安</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <hr />
  </div>
  <div class="row">
    <div class="col-xs-12 cbody">
      <div class="row">
        <div class="col-xs-12 lyrc radio " data-name="question_14" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>时光苟延喘息无可奈何</h4></div>
        <div class="col-xs-12 lyrc radio " data-name="question_14" data-value="10"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>时光苟延残喘无可奈何</h4></div>
        <div class="col-xs-12 lyrc radio " data-name="question_14" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>时光苟延残喘可奈何</h4></div>
        <div class="col-xs-12 lyrc radio " data-name="question_14" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>时光苟延喘息可奈何</h4></div>
      </div>
    </div>
  </div>
  <div class="row bottom">
    <div class="col-xs-12"><span class="remainder">14/15题</span> </div>  
  </div>
</div>  


<div class="question text-center" id="question_15">
  <div class="row">
    <div class="col-xs-12 head">
      <div class="img-container">
        <%=image_tag "lyrics/q15.jpg", :alt => "q15", :class => 'col-xs-12' %>
      </div>
      <div class='q-info'>
        <h4>你会不会忽然的出现</h4>
        <h4>在街角的咖啡店</h4>
        <h4>我会带着笑脸挥手寒暄</h4>
        <h4>和你坐着聊聊天</h4>
        <h4>我多么想和你见一面</h4>
        <h4>看看你最近改变</h4>
        <h4>...（ ？）...</h4>
        <h4>对你说一句 只是说一句</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <hr />
  </div>
  <div class="row">
    <div class="col-xs-12 cbody">
      <div class="row">
        <div class="col-xs-12 lyrc radio " data-name="question_15" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>不再说从前只是寒暄</h4></div>
        <div class="col-xs-12 lyrc radio " data-name="question_15" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>不再说从前是寒暄</h4></div>
        <div class="col-xs-12 lyrc radio " data-name="question_15" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>不再去说从前是寒暄</h4></div>
        <div class="col-xs-12 lyrc radio " data-name="question_15" data-value="10"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>不再去说从前只是寒暄</h4></div>
      </div>
    </div>
  </div>
  <div class="row bottom">
    <div class="col-xs-12"><span class="remainder">15/15题</span> </div>  
  </div>
</div>    
<!-- question page end   -->
</div>