<% content_for :head do %>
  <%= stylesheet_link_tag "info-bundle", :media => "all" %>
<% end %>  
<div class="container-fluid">
  <div class="row">
    <div class="img-container col-xs-8 col-xs-offset-2">
      <%=image_tag "subway/stat.png", :alt => "logo", :class => '' %>
      <h3>查询结果</h3> 
    </div>
  </div>

  <div class="row">
    <hr />
  </div>  
  <div class="row">
    <div class="col-xs-12">
      <div class="result">每年多支出<span class="total"><%= @year_incrase %></span>元</div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <hr />
    </div>
  </div>
  <div class="row query-info">
    <div class="col-xs-6">
      起始站：<span class='from'><%=@origin%></span>
    </div>
    <div class="col-xs-6 text-right">
      结束站：<span class='to'><%=@destination%></span>
    </div> 
    <div class="col-xs-6">
      公里数：<span class='distance'><%=@distance%>公里</span>
    </div> 
    <div class="col-xs-6 text-right">
      票价：<span class='distance'><%=@price%>元</span>
    </div>             
  </div>
  <div class="row">
    <div class="col-xs-12">
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 description">出行成本增加了<span><%= @year_incrase%></span>元，相当于每年扔了<span class='reward'><%= @reward %></span>！多支出的交通费用击败了全北京<span class='percent'><%=@percent%></span>的用户</div>
  </div>  
  <div class="row">
    <div class="col-xs-12">
      <a href="/subways" class="btn btn-block requery" role="button">重新查询</a>
    </div>  
  </div>

  <div class="row">
    <div class="btn-container col-xs-12">
      <div class="row">
        <div class="col-xs-6"><button class="btn btn-block social share"><i class="fa fa-share-alt"></i>一键分享</button></div>
        <div class="col-xs-6"><button class="btn btn-block social foc"><i class="fa fa-plus"></i><a href='http://mp.weixin.qq.com/s?__biz=MjM5NTAzMjc1NA==&mid=205607402&idx=5&sn=43ec7c71541d7d7e180be4c1689b01d5#rd' class='link'>关注我们</a></button></div>
      </div>
    </div>
  </div>


  <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <%=image_tag "surveys/share.png", :alt => "share",:class => 'img-responsive  share-btn'%>
      </div>
    </div>
  </div>


</div>



