<div class="container-fluid">
  <div class="begin text-center">
    <div class="row">
      <div class="col-xs-12 head">
        <div class="img-container">
          <%=image_tag "surveys/logo.png", :alt => "logo", :class => 'logo col-xs-4 col-xs-offset-4' %>
          <h4 class='col-xs-12'>测测你的童年怀旧指数</h4>
          <h5 class='col-xs-12'>已有<span class='num'><%= @count %></span>人参与</h5>
        </div>
      </div>
    </div>
    <div class="row">
      <hr />
    </div>
    <div class="row">
      <div class="col-xs-12 cbody">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <button class='btn start btn-block'><h4>开始答题</h4></button>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-xs-10 col-xs-offset-1"><button class="share btn btn-block"><h4><i class="fa fa-share-alt"></i>一键分享</h4></button></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h4>关注 @问卷吧 微信,答题赚话费啦!</h4>
      </div>
    </div>
  </div>
  <!-- question page start -->
  <div class="question text-center" id="question_1">
    <div class="row">
      <div class="col-xs-12 remainder ">01/15题</div>
      <div class="col-xs-12 head">
        <div class="img-container">
          <%=image_tag "surveys/q1.png", :alt => "q1", :class => 'col-xs-12 img-responsive' %>
        </div>
        <div class='q-info'>
          <h4>还记得这个画面什么时候出现吗?</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <hr />
    </div>
    <div class="row">
      <div class="col-xs-12 cbody">
        <div class="row">
          <div class="col-xs-12 radio text-left" data-name="question_1" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>周一下午</h4></div>
          <div class="col-xs-12 radio text-left" data-name="question_1" data-value="10"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>周二下午</h4></div>
          <div class="col-xs-12 radio text-left" data-name="question_1" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>周三下午</h4></div>
          <div class="col-xs-12 radio text-left" data-name="question_1" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>周四下午</h4></div>
          <div class="col-xs-12 radio text-left" data-name="question_1" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>周五下午</h4></div>
        </div>
      </div>
    </div>
  </div>

  <div class="question text-center" id="question_2">
    <div class="row">
      <div class="col-xs-12 remainder">02/15题</div>
      <div class="col-xs-12 head">
        <div class="img-container">
          <%=image_tag "surveys/q2.png", :alt => "q2", :class => 'col-xs-12' %>
        </div>
        <div class='q-info'>
          <h4>上图动画角色的死对头大胖子叫什么?</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <hr />
    </div>
    <div class="row">
      <div class="col-xs-12 cbody">
        <div class="row">
          <div class="col-xs-12 radio text-left"  data-name="question_2" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>奥利弗</h4></div>
          <div class="col-xs-12 radio text-left"  data-name="question_2" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>波派</h4></div>
          <div class="col-xs-12 radio text-left"  data-name="question_2" data-value="10"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>布鲁拖</h4></div>
        </div>
      </div>
    </div>
  </div>

  <div class="question text-center" id="question_3">
    <div class="row">
      <div class="col-xs-12 remainder">03/15题</div>
      <div class="col-xs-12 head">
        <div class="img-container">
          <%=image_tag "surveys/q3.png", :alt => "q3", :class => 'col-xs-12' %>
        </div>
        <div class='q-info'>
          <h4>还记得有个孩子么,只要说谎,鼻子就变长那个,你还记得他叫什么吗?</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <hr />
    </div>
    <div class="row">
      <div class="col-xs-12 cbody">
        <div class="row">
          <div class="col-xs-12 radio text-left" data-name="question_3" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>皮帕诺</h4></div>
          <div class="col-xs-12 radio text-left" data-name="question_3" data-value="10"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>匹诺曹</h4></div>
          <div class="col-xs-12 radio text-left" data-name="question_3" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>科洛迪</h4></div>
        </div>
      </div>
    </div>
  </div>


  <div class="question text-center" id="question_4">
    <div class="row">
      <div class="col-xs-12 remainder">04/15题</div>
      <div class="col-xs-12 head">
        <div class="img-container">
          <%=image_tag "surveys/q4.png", :alt => "q4", :class => 'col-xs-12' %>
        </div>
        <div class='q-info'>
          <h4>上面的游戏叫什么名字?</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <hr />
    </div>
    <div class="row">
      <div class="col-xs-12 cbody">
        <div class="row">
          <div class="col-xs-12 radio text-left" data-name="question_4" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>魂斗罗</h4></div>
          <div class="col-xs-12 radio text-left" data-name="question_4" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>蝙蝠侠</h4></div>
          <div class="col-xs-12 radio text-left" data-name="question_4" data-value="10"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>超级玛丽</h4></div>
          <div class="col-xs-12 radio text-left" data-name="question_4" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>圣斗士</h4></div>
        </div>
      </div>
    </div>
  </div>
  <div class="question text-center" id="question_5">
    <div class="row">
      <div class="col-xs-12 remainder">05/15题</div>
      <div class="col-xs-12 head">
        <div class="img-container">
          <%=image_tag "surveys/q5.png", :alt => "q5", :class => 'col-xs-12' %>
        </div>
        <div class='q-info'>
          <h4>你用过这个东西吗,你知道它是用来干啥的吗?</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <hr />
    </div>
    <div class="row">
      <div class="col-xs-12 cbody">
        <div class="row">
          <div class="col-xs-12 radio text-left" data-name="question_5" data-value="10"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>修改液,用来涂抹错误</h4></div>
          <div class="col-xs-12 radio text-left" data-name="question_5" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>胶水,用来粘贴东西</h4></div>
          <div class="col-xs-12 radio text-left" data-name="question_5" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>涂料,可以用来粉刷</h4></div>
          <div class="col-xs-12 radio text-left" data-name="question_5" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>改正纸,可以修改错误</h4></div>
        </div>
      </div>
    </div>
  </div>
  <div class="question text-center" id="question_6">
    <div class="row">
      <div class="col-xs-12 remainder">06/15题</div>
      <div class="col-xs-12 head">
        <div class="img-container">
          <%=image_tag "surveys/q6.png", :alt => "q6", :class => 'col-xs-12' %>
        </div>
        <div class='q-info'>
          <h4>哈哈,小时候的最爱,猜猜图中红色材料里面装的是什么?</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <hr />
    </div>
    <div class="row">
      <div class="col-xs-12 cbody">
        <div class="row">
          <div class="col-xs-12 radio text-left" data-name="question_6" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>硫磺</h4></div>
          <div class="col-xs-12 radio text-left" data-name="question_6" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>木屑</h4></div>
          <div class="col-xs-12 radio text-left" data-name="question_6" data-value="10"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>火药</h4></div>
          <div class="col-xs-12 radio text-left" data-name="question_6" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>不清楚</h4></div>
        </div>
      </div>
    </div>
  </div>

  <div class="question text-center" id="question_7">
    <div class="row">
      <div class="col-xs-12 remainder">07/15题</div>
      <div class="col-xs-12 head">
        <div class="img-container">
          <%=image_tag "surveys/q7.png", :alt => "q7", :class => 'col-xs-12' %>
        </div>
        <div class='q-info'>
          <h4>上学时见的最多的就是女孩子玩这个?你看过或者玩过吗?你知道这个游戏叫什么名字吗?</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <hr />
    </div>
    <div class="row">
      <div class="col-xs-12 cbody">
        <div class="row">
          <div class="col-xs-12 radio text-left" data-name="question_7" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>编花篮</h4></div>
          <div class="col-xs-12 radio text-left" data-name="question_7" data-value="10"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>跳皮筋</h4></div>
          <div class="col-xs-12 radio text-left" data-name="question_7" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>跳绳</h4></div>
        </div>
      </div>
    </div>
  </div>
  <div class="question text-center" id="question_8">
    <div class="row">
      <div class="col-xs-12 remainder">08/15题</div>
      <div class="col-xs-12 head">
        <div class="img-container">
          <%=image_tag "surveys/q8.png", :alt => "q8", :class => 'col-xs-12' %>
        </div>
        <div class='q-info'>
          <h4>这个你肯定没见过吧,据说这个东西震惊了全美国,他们曾架上防弹玻璃穿上防弹衣来引爆这颗炸弹,你知道他是用来干啥的吗?</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <hr />
    </div>
    <div class="row">
      <div class="col-xs-12 cbody">
        <div class="row">
          <div class="col-xs-12 radio text-left" data-name="question_8" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>水壶,烧水用</h4></div>
          <div class="col-xs-12 radio text-left" data-name="question_8" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>炸弹</h4></div>
          <div class="col-xs-12 radio text-left" data-name="question_8" data-value="10"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>爆米花机器</h4></div>
          <div class="col-xs-12 radio text-left" data-name="question_8" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>不确定</h4></div>
        </div>
      </div>
    </div>
  </div>
  <div class="question text-center" id="question_9">
    <div class="row">
      <div class="col-xs-12 remainder">09/15题</div>
      <div class="col-xs-12 head">
        <div class="img-container">
          <%=image_tag "surveys/q9.png", :alt => "q1", :class => 'col-xs-12' %>
        </div>
        <div class='q-info'>
          <h4>让我们来画一幅画吧,我想你肯定能记起画他得口诀,他叫什么?</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <hr />
    </div>
    <div class="row">
      <div class="col-xs-12 cbody">
        <div class="row">
          <div class="col-xs-12 radio text-left" data-name="question_9" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>三毛</h4></div>
          <div class="col-xs-12 radio text-left" data-name="question_9" data-value="10"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>丁老头</h4></div>
          <div class="col-xs-12 radio text-left" data-name="question_9" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>衰仔</h4></div>
          <div class="col-xs-12 radio text-left" data-name="question_9" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>不知道</h4></div>
        </div>
      </div>
    </div>
  </div>
  <div class="question text-center" id="question_10">
    <div class="row">
      <div class="col-xs-12 remainder">10/15题</div>
      <div class="col-xs-12 head">
        <div class="img-container">
          <%=image_tag "surveys/q10.png", :alt => "q1", :class => 'col-xs-12' %>
        </div>
        <div class='q-info'>
          <h4>再来个高科技的,想当初咱还曾经拥有过一个呢,你知道他是什么东西吗?</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <hr />
    </div>
    <div class="row">
      <div class="col-xs-12 cbody">
        <div class="row">
          <div class="col-xs-12 radio text-left" data-name="question_10"data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>电子表</h4></div>
          <div class="col-xs-12 radio text-left" data-name="question_10"data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>手机</h4></div>
          <div class="col-xs-12 radio text-left" data-name="question_10"data-value="10"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>BP机</h4></div>
          <div class="col-xs-12 radio text-left" data-name="question_10"data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>游戏机</h4></div>
        </div>
      </div>
    </div>
  </div>
  <div class="question text-center" id="question_11">
    <div class="row">
      <div class="col-xs-12 remainder">11/15题</div>
      <div class="col-xs-12 head">
        <div class="img-container">
          <%=image_tag "surveys/q11.png", :alt => "q11", :class => 'col-xs-12' %>
        </div>
        <div class='q-info'>
          <h4>图中小伙伴们手里拿的是啥?</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <hr />
    </div>
    <div class="row">
      <div class="col-xs-12 cbody">
        <div class="row">
          <div class="col-xs-12 radio text-left" data-name="question_11" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>水管</h4></div>
          <div class="col-xs-12 radio text-left" data-name="question_11" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>水枪</h4></div>
          <div class="col-xs-12 radio text-left" data-name="question_11" data-value="10"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>气门芯水枪</h4></div>
        </div>
      </div>
    </div>
  </div>
  <div class="question text-center" id="question_12">
    <div class="row">
      <div class="col-xs-12 remainder">12/15题</div>
      <div class="col-xs-12 head">
        <div class="img-container">
          <%=image_tag "surveys/q12.png", :alt => "q1", :class => 'col-xs-12' %>
        </div>
        <div class='q-info'>
          <h4>这帮孩子这是咋了?</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <hr />
    </div>
    <div class="row">
      <div class="col-xs-12 cbody">
        <div class="row">
          <div class="col-xs-12 radio text-left" data-name="question_12" data-value="0">
            <h4 class='selection'><i class="ipt fa fa-circle-o"></i>上街打群架被打了</h4>
          </div>
          <div class="col-xs-12 radio text-left" data-name="question_12" data-value="0">
            <h4 class='selection'><i class="ipt fa fa-circle-o"></i>捅马蜂窝了</h4>
          </div>
          <div class="col-xs-12 radio text-left" data-name="question_12" data-value="0">
            <h4 class='selection'><i class="ipt fa fa-circle-o"></i>不清楚</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="question text-center" id="question_13">
    <div class="row">
      <div class="col-xs-12 remainder">13/15题</div>
      <div class="col-xs-12 head">
        <div class="img-container">
          <%=image_tag "surveys/q13.png", :alt => "q1", :class => 'col-xs-12' %>
        </div>
        <div class='q-info'>
          <h4>上图那些小东西,还记得它们是什么材料做的么?</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <hr />
    </div>
    <div class="row">
      <div class="col-xs-12 cbody">
        <div class="row">
          <div class="col-xs-12 radio text-left" data-name="question_13" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>木头</h4></div>
          <div class="col-xs-12 radio text-left" data-name="question_13" data-value="10"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>骨头</h4></div>
          <div class="col-xs-12 radio text-left" data-name="question_13" data-value="0"><h4 class='selection'><i class="ipt fa fa-circle-o"></i>石头</h4></div>
        </div>
      </div>
    </div>
  </div>
  <div class="question text-center" id="question_14">
    <div class="row">
      <div class="col-xs-12 remainder">14/15题</div>
      <div class="col-xs-12 head">
        <div class="img-container">
          <%=image_tag "surveys/q14.png", :alt => "q14", :class => 'col-xs-12' %>
        </div>
        <div class='q-info'>
          <h4>知道上图玩具是哪种食品里的吗?</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <hr />
    </div>
    <div class="row">
      <div class="col-xs-12 cbody">
        <div class="row">
          <div class="col-xs-12 radio text-left" data-name="question_14" data-value="0">
            <h4 class='selection'><i class="ipt fa fa-circle-o"></i>小浣熊(干脆面)</h4>
          </div>
          <div class="col-xs-12 radio text-left" data-name="question_14" data-value="10">
            <h4 class='selection'><i class="ipt fa fa-circle-o"></i>康师傅(干脆面)</h4>
          </div>
          <div class="col-xs-12 radio text-left" data-name="question_14" data-value="0">
            <h4 class='selection'><i class="ipt fa fa-circle-o"></i>华龙方便面</h4>
          </div>
          <div class="col-xs-12 radio text-left" data-name="question_14" data-value="0">
            <h4 class='selection'><i class="ipt fa fa-circle-o"></i>不清楚</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="question text-center" id="question_15">
    <div class="row">
      <div class="col-xs-12 remainder">15/15题</div>
      <div class="col-xs-12 head">
        <div class="img-container">
          <%=image_tag "surveys/q15.png", :alt => "q1", :class => 'col-xs-12' %>
        </div>
        <div class='q-info'>
          <h4>看看上图这个东西,打响它需要填装什么材料呢?</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <hr />
    </div>
    <div class="row">
      <div class="col-xs-12 cbody">
        <div class="row">
          <div class="col-xs-12 radio text-left" data-name="question_15" data-name="question_15"  data-value="0">
            <h4 class='selection'><i class="ipt fa fa-circle-o"></i>不清楚</h4>
          </div>
          <div class="col-xs-12 radio text-left" data-name="question_15" data-name="question_15"  data-value="10">
            <h4 class='selection'><i class="ipt fa fa-circle-o"></i>火药或炸药</h4>
          </div>
          <div class="col-xs-12 radio text-left" data-name="question_15" data-name="question_15"  data-value="0">
            <h4 class='selection'><i class="ipt fa fa-circle-o"></i>木屑</h4>
          </div>
          <div class="col-xs-12 radio text-left" data-name="question_15" data-name="question_15"  data-value="0">
            <h4 class='selection'><i class="ipt fa fa-circle-o"></i>不需要</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- question page end   -->


  <!-- last page start -->
  <div class="result text-center">
    <div class="row">
      <div class="col-xs-12 head">
        <div class="img-container">
          <%=image_tag "surveys/report.png", :alt => "report", :class => 'logo col-xs-4 col-xs-offset-4' %>
          <h4 class='col-xs-12'>你的童年怀旧指数</h4>
          <div>
            <span class='col-xs-12'>说明：满分150分，及格分120分</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <hr />
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <span class="score"></span>分
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-xs-offset-1 cbody" id='cbody'>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1 result-desc"></div>
        </div>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <button class="share btn btn-block"><h4><i class="fa fa-share-alt"></i>一键分享</h4></button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h4>关注 @问卷吧 微信,答题赚话费啦!</h4>
      </div>
    </div>    
  </div>
  <!-- last page end   -->

  <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <%=image_tag "surveys/share.png", :alt => "share",:class => 'img-responsive  share-btn'%>
      </div>
    </div>
  </div>




</div>
